#if (${action.slackItConfigurationHolder.getJIRAUserForSlack()})
    #set ($botUser = ${action.slackItConfigurationHolder.getJIRAUserForSlack()})
#else
    #set ($botUser = "Please, be sure you configured the bod user properly")
#end

<table class="aui aui-table-rowhover">
    <caption>Current active setup</caption>
    <thead>
    <tr>
        <th class="slack-table-major-column">Name</th>
        <th class="slack-table-column">Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="slack-table-major-column"><b>Slack base Url</b></td>
        <td class="slack-table-column">${action.slackItConfigurationHolder.getSlackBaseUrl()}</td>
    </tr>
    <tr>
        <td class="slack-table-major-column"><b>Slack Api Url</b></td>
        <td class="slack-table-column">${action.slackItConfigurationHolder.getSlackApiBaseUrl()}</td>
    </tr>
    <tr>
        <td class="slack-table-major-column"><b>Slack channel custom field</b></td>
        <td class="slack-table-column">${action.slackItConfigurationHolder.getSlackChannelCustomField()}</td>
    </tr>
    <tr>
        <td class="slack-table-major-column"><b>Slackbot Jira user</b></td>
        <td class="slack-table-column">${botUser}</td>
    </tr>
    <tr>
        <td class="slack-table-major-column"><b>Visibility of slackbot comments</b></td>
        <td class="slack-table-column">${action.slackItConfigurationHolder.getCommentVisibility()}</td>
    </tr>
    <tr>
        <td class="slack-table-major-column"><b>User custom fields for additional members</b></td>
        <td class="slack-table-column">${action.slackItConfigurationHolder.getCustomFieldsForChannelMembers()}</td>
    </tr>
    <tr>
        <td class="slack-table-major-column"><b>Proxy setup</b></td>
        <td class="slack-table-column">${action.slackItConfigurationHolder.getProxyAsString()}</td>
    </tr>
    </tbody>
</table>

<table class="aui aui-table-sortable">
    <caption>File content</caption>
    <tbody>
        #foreach ($mapEntry in ${action.slackItConfigurationHolder.getProperties().entrySet()})
        <tr>
            <td class="slack-table-major-column40%"><b>${mapEntry.key}</b></td>
            <td class="slack-table-column">${mapEntry.value}</td>
        </tr>
        #end
    </tbody>
</table>
<br/>
<div class="aui-buttons">
    <a class="aui-button" id="reload-file" onclick="reloadFile();">Reload from file</a>
</div>
